In [1]:
# Pandas dibutuhkan untuk manipulasi dan transformasi data
import pandas as pd

import numpy as np
# Sklearn digunakan untuk segala hal yang berhubungan dengan machine learning modeling
# train_test_split : untuk membagi data train menjadi data untuk training dan validasi
from sklearn.model_selection import train_test_split

# DecisionTreeClassifier : contoh model yang digunakan disini yaitu Decision Tree
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier

from sklearn.svm import SVC

from sklearn.preprocessing import LabelEncoder

In [2]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [3]:
# Data Preparation
df = pd.read_csv('sampling_healtkathon2022/sampling_healtkathon2022.csv')

In [4]:
rand_processed = df

In [5]:
# Bikin labelencoder
labelencoder = LabelEncoder()

# Ngelabel encoding
rand_processed['jenkel_cat'] = labelencoder.fit_transform(rand_processed['jenkel'])

rand_processed['politujuan_cat'] = labelencoder.fit_transform(rand_processed['politujuan'])
rand_processed['typefaskes_cat'] = labelencoder.fit_transform(rand_processed['typefaskes'])
rand_processed['cbg_cat'] = labelencoder.fit_transform(rand_processed['cbg'])
rand_processed['diagfktp_cat'] = labelencoder.fit_transform(rand_processed['diagfktp'])

rand_processed['kdsa_cat'] = labelencoder.fit_transform(rand_processed['kdsa'])
rand_processed['kdsp_cat'] = labelencoder.fit_transform(rand_processed['kdsp'])
rand_processed['kdsr_cat'] = labelencoder.fit_transform(rand_processed['kdsr'])
rand_processed['kdsi_cat'] = labelencoder.fit_transform(rand_processed['kdsi'])
rand_processed['kdsd_cat'] = labelencoder.fit_transform(rand_processed['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed = rand_processed.drop(columns=['id'])
rand_processed = rand_processed.drop(columns=['id_peserta'])

rand_processed = rand_processed.drop(columns=['jenkel'])

rand_processed = rand_processed.drop(columns=['politujuan'])
rand_processed = rand_processed.drop(columns=['typefaskes'])
rand_processed = rand_processed.drop(columns=['cbg'])
rand_processed = rand_processed.drop(columns=['diagfktp'])

rand_processed = rand_processed.drop(columns=['kdsa'])
rand_processed = rand_processed.drop(columns=['kdsp'])
rand_processed = rand_processed.drop(columns=['kdsr'])
rand_processed = rand_processed.drop(columns=['kdsi'])
rand_processed = rand_processed.drop(columns=['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed['biaya_bagi100'] = rand_processed['biaya']/100
rand_processed = rand_processed.drop(columns=['biaya'])

rand_processed

,dati2,usia,pisat,tgldatang,tglpulang,jenispel,jenispulang,kelasrawat,label,jenkel_cat,politujuan_cat,typefaskes_cat,cbg_cat,diagfktp_cat,kdsa_cat,kdsp_cat,kdsr_cat,kdsi_cat,kdsd_cat,biaya_bagi100
0,17,48,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,1.0,3,0,1,224,16,825,5472,0,0,0,3,11,1843.0
1,17,63,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,1.0,1,0,0,261,0,106,11656,0,0,0,3,11,106284.0
2,17,53,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,1.0,3,0,1,161,16,827,2210,0,0,0,3,11,1873.0
3,17,54,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,1.0,3,0,1,178,16,827,3877,0,0,0,3,11,1873.0
4,17,53,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,1.0,3,0,1,218,0,827,7637,0,0,0,3,11,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,0,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,1.0,3,0,1,261,1,783,15143,0,0,0,3,11,36451.0
11401878,233,0,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,1.0,2,0,1,261,0,772,10671,0,0,0,3,11,122732.0
11401879,118,0,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,1.0,3,0,0,261,1,762,10540,0,0,0,3,11,40990.0
11401880,101,0,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,1.0,3,0,0,261,24,762,10421,0,0,0,3,11,39924.0
11401881,12,0,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,1.0,3,0,1,261,25,780,10515,0,0,0,3,11,16249.0

In [6]:
# Isi semua na
no_na = rand_processed
no_na['biaya_bagi100'] = no_na['biaya_bagi100'].fillna(no_na['biaya_bagi100'].mean())
no_na = no_na.fillna(0)

no_na

,dati2,usia,pisat,tgldatang,tglpulang,jenispel,jenispulang,kelasrawat,label,jenkel_cat,politujuan_cat,typefaskes_cat,cbg_cat,diagfktp_cat,kdsa_cat,kdsp_cat,kdsr_cat,kdsi_cat,kdsd_cat,biaya_bagi100
0,17,48,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,1.0,3,0,1,224,16,825,5472,0,0,0,3,11,1843.0
1,17,63,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,1.0,1,0,0,261,0,106,11656,0,0,0,3,11,106284.0
2,17,53,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,1.0,3,0,1,161,16,827,2210,0,0,0,3,11,1873.0
3,17,54,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,1.0,3,0,1,178,16,827,3877,0,0,0,3,11,1873.0
4,17,53,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,1.0,3,0,1,218,0,827,7637,0,0,0,3,11,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,0,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,1.0,3,0,1,261,1,783,15143,0,0,0,3,11,36451.0
11401878,233,0,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,1.0,2,0,1,261,0,772,10671,0,0,0,3,11,122732.0
11401879,118,0,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,1.0,3,0,0,261,1,762,10540,0,0,0,3,11,40990.0
11401880,101,0,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,1.0,3,0,0,261,24,762,10421,0,0,0,3,11,39924.0
11401881,12,0,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,1.0,3,0,1,261,25,780,10515,0,0,0,3,11,16249.0

In [7]:
no_na["Selisih"] = " "

for i in range(len(no_na)) :
     
    x = no_na.iloc[i]['tgldatang']
    y = no_na.iloc[i]['tglpulang']

    if x == y :
        no_na.at[i,'Selisih'] = 0

    else :

        TanggalX = x[0:10]
        TanggalY = y[0:10]

        Selisih = days_between(TanggalX, TanggalY)
        no_na.at[i, 'Selisih'] = Selisih

In [ ]:
rand_processed = rand_processed.drop(columns=['tgldatang'])
rand_processed = rand_processed.drop(columns=['tglpulang'])

In [ ]:
no_na.describe()
#rand_processed.isna().sum()

no_na.to_csv('no_na(11juta).csv')

In [ ]:
Pred = no_na.drop(columns=['label'])

In [ ]:
Pred = Pred.select_dtypes(exclude=['object'])

In [ ]:
# Pembagian Batch

Batch1, Batch2, Batch3, Batch4, Batch5 = np.array_split(Pred, 5)

In [ ]:
# Pembuatan data training

satu = no_na.loc[no_na['label'] == 1] # Pengambilan yang labelnya 1
nolfull = no_na.loc[no_na['label'] == 0] # Pengambilan yang label 0

nol = nolfull.sample(n=len(satu)) # Pengambilan label 0 sejumlah banyaknya label 1

In [ ]:
Train = nol.append(satu)
Train = Train.sample(frac = 1)
Train = Train.select_dtypes(exclude=['object'])

In [ ]:
X = Train.drop(columns=['label'])
y = Train.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# svc = SVC(probability = True)
# svc = svc.fit(X_train, y_train)

In [ ]:
# Hasilpred = svc.predict(Pred)

In [ ]:
# rf = RandomForestClassifier(random_state = 1)
# rf = rf.fit(X_train, y_train)

In [ ]:
# Hasilpred = rf.predict(Pred)

In [ ]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [ ]:
Hasilpred1 = clf.predict(Batch1)

In [ ]:
Hasilpred2 = clf.predict(Batch2)

In [ ]:
Hasilpred3 = clf.predict(Batch3)

In [ ]:
Hasilpred4 = clf.predict(Batch4)

In [ ]:
Hasilpred5 = clf.predict(Batch5)

In [ ]:
# Evaluation

y_true = rand_processed.label
y_pred = Hasilpred1 + Hasilpred2 + Hasilpred3 + Hasilpred4 + Hasilpred5


def check(true,pred)  :
    tn, fp, fn, tp = confusion_matrix(true, pred).ravel()
    Accuracy = (tn+tp) / (tn+fp+tp+fn)
    Precision = tp/(tp+fp)
    Recall = tp/(tp+fn)
    Specifity = tn/(tn+fp)  

    print("Accuracy    :", Accuracy, "\nPrecision   :", Precision, "\nRecall      :", Recall, "\nSpecifity   :", Specifity)


check(y_true,y_pred)