In [8]:
# Pandas dibutuhkan untuk manipulasi dan transformasi data
import pandas as pd

import numpy as np
# Sklearn digunakan untuk segala hal yang berhubungan dengan machine learning modeling
# train_test_split : untuk membagi data train menjadi data untuk training dan validasi
from sklearn.model_selection import train_test_split

# DecisionTreeClassifier : contoh model yang digunakan disini yaitu Decision Tree
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier

from sklearn.svm import SVC

from sklearn.preprocessing import LabelEncoder

from sklearn.neighbors import KNeighborsClassifier

# import datawig

In [ ]:
pip install datawig --use-deprecated=backtrack-on-build-failures

In [9]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [10]:
# Data Preparation
df = pd.read_csv('sampling_healtkathon2022/sampling_healtkathon2022.csv')

In [11]:
rand_processed = df

In [12]:
# Bikin labelencoder
# labelencoder = LabelEncoder()

# Ngelabel encoding
# rand_processed['jenkel_cat'] = labelencoder.fit_transform(rand_processed['jenkel'])

# rand_processed['politujuan_cat'] = labelencoder.fit_transform(rand_processed['politujuan'])
# rand_processed['typefaskes_cat'] = labelencoder.fit_transform(rand_processed['typefaskes'])
# rand_processed['cbg_cat'] = labelencoder.fit_transform(rand_processed['cbg'])
# rand_processed['diagfktp_cat'] = labelencoder.fit_transform(rand_processed['diagfktp'])

# rand_processed['kdsa_cat'] = labelencoder.fit_transform(rand_processed['kdsa'])
# rand_processed['kdsp_cat'] = labelencoder.fit_transform(rand_processed['kdsp'])
# rand_processed['kdsr_cat'] = labelencoder.fit_transform(rand_processed['kdsr'])
# rand_processed['kdsi_cat'] = labelencoder.fit_transform(rand_processed['kdsi'])
# rand_processed['kdsd_cat'] = labelencoder.fit_transform(rand_processed['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed = rand_processed.drop(columns=['id'])
rand_processed = rand_processed.drop(columns=['id_peserta'])

# rand_processed = rand_processed.drop(columns=['jenkel'])

# rand_processed = rand_processed.drop(columns=['politujuan'])
# rand_processed = rand_processed.drop(columns=['typefaskes'])
# rand_processed = rand_processed.drop(columns=['cbg'])
# rand_processed = rand_processed.drop(columns=['diagfktp'])

# rand_processed = rand_processed.drop(columns=['kdsa'])
# rand_processed = rand_processed.drop(columns=['kdsp'])
# rand_processed = rand_processed.drop(columns=['kdsr'])
# rand_processed = rand_processed.drop(columns=['kdsi'])
# rand_processed = rand_processed.drop(columns=['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed['biaya_bagi100'] = rand_processed['biaya']/100
rand_processed = rand_processed.drop(columns=['biaya'])

rand_processed

,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,politujuan,diagfktp,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label,biaya_bagi100
0,17,KL,48,P,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,THT,L02.8,1.0,Q-5-42-0,3,None,None,None,None,None,0,1843.0
1,17,A,63,L,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,NaN,R23.1,1.0,D-4-13-III,1,None,None,None,None,None,0,106284.0
2,17,KL,53,P,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,INT,E10.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
3,17,KL,54,P,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,MAT,H54.2,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
4,17,A,53,P,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,SAR,M54.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,B,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,Z71.8,1.0,P-8-17-I,3,None,None,None,None,None,0,36451.0
11401878,233,A,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,P59.9,1.0,P-8-13-II,2,None,None,None,None,None,0,122732.0
11401879,118,B,0,L,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,NaN,P24.8,1.0,P-8-08-I,3,None,None,None,None,None,0,40990.0
11401880,101,SC,0,L,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P03,1.0,P-8-08-I,3,None,None,None,None,None,0,39924.0
11401881,12,SD,0,P,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P21.1,1.0,P-8-16-I,3,None,None,None,None,None,0,16249.0

In [16]:
rand_processed["Selisih"] = " "

for i in range(len(rand_processed)) :
     
    x = rand_processed.iloc[i]['tgldatang']
    y = rand_processed.iloc[i]['tglpulang']

    if x == y :
        rand_processed.at[i,'Selisih'] = 0

    else :

        TanggalX = x[0:10]
        TanggalY = y[0:10]

        Selisih = days_between(TanggalX, TanggalY)
        rand_processed.at[i, 'Selisih'] = Selisih

rand_processed = rand_processed.drop(columns=['tgldatang'])
rand_processed = rand_processed.drop(columns=['tglpulang'])

rand_processed.to_csv('selisih_completed.csv')

In [26]:
rand_processed.isna().sum()

dati2                   0
typefaskes              0
usia                    0
jenkel           11401882
pisat                 190
jenispel                0
politujuan        4041455
diagfktp             2530
jenispulang            39
cbg                     0
kelasrawat              0
kdsa               198670
kdsp               197007
kdsr               198459
kdsi               198463
kdsd               195181
label                   0
biaya_bagi100           0
Selisih                 0
dtype: int64

In [25]:
# Isi semua na
no_na = rand_processed.copy()
no_na['biaya_bagi100'] = no_na['biaya_bagi100'].fillna(no_na['biaya_bagi100'].mean())
# no_na = no_na.fillna(0)

no_na

,dati2,typefaskes,usia,jenkel,pisat,jenispel,politujuan,diagfktp,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label,biaya_bagi100,Selisih
0,17,KL,48,None,1.0,2,THT,L02.8,1.0,Q-5-42-0,3,None,None,None,None,None,0,1843.0,0
1,17,A,63,None,1.0,1,NaN,R23.1,1.0,D-4-13-III,1,None,None,None,None,None,0,106284.0,3
2,17,KL,53,None,1.0,2,INT,E10.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0,0
3,17,KL,54,None,1.0,2,MAT,H54.2,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0,0
4,17,A,53,None,1.0,2,SAR,M54.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,3816.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,B,0,None,4.0,1,NaN,Z71.8,1.0,P-8-17-I,3,None,None,None,None,None,0,36451.0,4
11401878,233,A,0,None,4.0,1,NaN,P59.9,1.0,P-8-13-II,2,None,None,None,None,None,0,122732.0,4
11401879,118,B,0,None,4.0,1,NaN,P24.8,1.0,P-8-08-I,3,None,None,None,None,None,0,40990.0,7
11401880,101,SC,0,None,5.0,1,NaN,P03,1.0,P-8-08-I,3,None,None,None,None,None,0,39924.0,2
11401881,12,SD,0,None,4.0,1,NaN,P21.1,1.0,P-8-16-I,3,None,None,None,None,None,0,16249.0,2

In [22]:
# Isi semua na
modus_jenkel = no_na["jenkel"].mode() 
no_na["jenkel"].fillna(modus_jenkel,inplace=True)

In [66]:
no_na.describe()
#rand_processed.isna().sum()

no_na.to_csv('no_na(no_tgl).csv')

In [1]:
# ==================== CHECKPOINT ====================
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

no_na = pd.read_csv('no_na(no_tgl).csv')

In [2]:
Pred = no_na.drop(columns=['label'])
Pred = Pred.select_dtypes(exclude=['object'])

# Pembagian Batch
Batch1, Batch2, Batch3, Batch4, Batch5 = np.array_split(Pred, 5)

In [111]:
# Pembuatan data training

satufull = no_na.loc[no_na['label'] == 1] # Pengambilan yang labelnya 1
nolfull = no_na.loc[no_na['label'] == 0] # Pengambilan yang label 0

jumsat = int(len(satufull))
jumnol = int(len(nolfull)/5)
satu = satufull.sample(n=(jumsat))
nol = nolfull.sample(n=(jumnol)) # Pengambilan label 0 sejumlah banyaknya label 1

In [61]:
len(satu)

156889

In [93]:
len(nol)

1606427

In [112]:
Train = nol.append(satu)
Train = Train.sample(frac = 1)
Train = Train.select_dtypes(exclude=['object'])

C:\Users\faris\AppData\Local\Temp\ipykernel_37960\4069620333.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Train = nol.append(satu)

In [95]:
len(Train)

1763316

In [113]:
X = Train.drop(columns=['label'])
y = Train.label

X_train_imb, X_test, y_train_imb, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [97]:
print(len(X_train_imb))
print(len(y_train_imb))

1234321
1234321

In [118]:
# Oversampling pake smote

from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy = 0.2, random_state=42)
X_train, y_train = sm.fit_resample(X_train_imb, y_train_imb)

In [99]:
print(len(X_train))
print(len(y_train))

1573980
1573980

In [56]:
from catboost import CatBoostClassifier, Pool

cb = CatBoostClassifier(n_estimators=200,
                       loss_function='RMSE',
                       learning_rate=0.4,
                       depth=3, task_type='GPU',
                       random_state=1,
                       verbose=False)

pool_train = Pool(X_train, y_train,
                  cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])
                  
pool_test = Pool(X_test, cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])

cb.fit(pool_train)
y_pred = cb.predict(pool_test)

In [ ]:
Hasilpred1 = cb.predict(Batch1)
Hasilpred2 = cb.predict(Batch2)
Hasilpred3 = cb.predict(Batch3)
Hasilpred4 = cb.predict(Batch4)
Hasilpred5 = cb.predict(Batch5)

In [153]:
from sklearn.metrics import roc_auc_score

# Evaluation

y_true = no_na.label
y_pred = [*Hasilpred1 , *Hasilpred2 , *Hasilpred3 , *Hasilpred4 , *Hasilpred5]  # List of your dataframes


def check(true,pred)  :
    tn, fp, fn, tp = confusion_matrix(true, pred).ravel()
    Accuracy = (tn+tp) / (tn+fp+tp+fn)
    Precision = tp/(tp+fp)
    Recall = tp/(tp+fn)
    Specifity = tn/(tn+fp)  

    print("Accuracy    :", Accuracy, "\nPrecision   :", Precision, "\nRecall      :", Recall, "\nSpecifity   :", Specifity)

check(y_true,y_pred)
print(roc_auc_score(y_true, y_pred))

Accuracy    : 0.979136339071041
Precision   : 0.33943000785047617
Recall      : 0.5456660441458611
Specifity   : 0.9851840725912413
0.7654250583685511