In [8]:
# Pandas dibutuhkan untuk manipulasi dan transformasi data
import pandas as pd

import numpy as np
# Sklearn digunakan untuk segala hal yang berhubungan dengan machine learning modeling
# train_test_split : untuk membagi data train menjadi data untuk training dan validasi
from sklearn.model_selection import train_test_split

# DecisionTreeClassifier : contoh model yang digunakan disini yaitu Decision Tree
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier

from sklearn.svm import SVC

from sklearn.preprocessing import LabelEncoder

from sklearn.neighbors import KNeighborsClassifier

# import datawig

In [ ]:
pip install datawig --use-deprecated=backtrack-on-build-failures

In [9]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [38]:
# Data Preparation
df = pd.read_csv('sampling_healtkathon2022/sampling_healtkathon2022.csv')

In [11]:
rand_processed = df

In [12]:
# Bikin labelencoder
# labelencoder = LabelEncoder()

# Ngelabel encoding
# rand_processed['jenkel_cat'] = labelencoder.fit_transform(rand_processed['jenkel'])

# rand_processed['politujuan_cat'] = labelencoder.fit_transform(rand_processed['politujuan'])
# rand_processed['typefaskes_cat'] = labelencoder.fit_transform(rand_processed['typefaskes'])
# rand_processed['cbg_cat'] = labelencoder.fit_transform(rand_processed['cbg'])
# rand_processed['diagfktp_cat'] = labelencoder.fit_transform(rand_processed['diagfktp'])

# rand_processed['kdsa_cat'] = labelencoder.fit_transform(rand_processed['kdsa'])
# rand_processed['kdsp_cat'] = labelencoder.fit_transform(rand_processed['kdsp'])
# rand_processed['kdsr_cat'] = labelencoder.fit_transform(rand_processed['kdsr'])
# rand_processed['kdsi_cat'] = labelencoder.fit_transform(rand_processed['kdsi'])
# rand_processed['kdsd_cat'] = labelencoder.fit_transform(rand_processed['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed = rand_processed.drop(columns=['id'])
rand_processed = rand_processed.drop(columns=['id_peserta'])

# rand_processed = rand_processed.drop(columns=['jenkel'])

# rand_processed = rand_processed.drop(columns=['politujuan'])
# rand_processed = rand_processed.drop(columns=['typefaskes'])
# rand_processed = rand_processed.drop(columns=['cbg'])
# rand_processed = rand_processed.drop(columns=['diagfktp'])

# rand_processed = rand_processed.drop(columns=['kdsa'])
# rand_processed = rand_processed.drop(columns=['kdsp'])
# rand_processed = rand_processed.drop(columns=['kdsr'])
# rand_processed = rand_processed.drop(columns=['kdsi'])
# rand_processed = rand_processed.drop(columns=['kdsd'])

# Drop semua yang gak dibutuhin
rand_processed['biaya_bagi100'] = rand_processed['biaya']/100
rand_processed = rand_processed.drop(columns=['biaya'])

rand_processed

,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,politujuan,diagfktp,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label,biaya_bagi100
0,17,KL,48,P,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,THT,L02.8,1.0,Q-5-42-0,3,None,None,None,None,None,0,1843.0
1,17,A,63,L,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,NaN,R23.1,1.0,D-4-13-III,1,None,None,None,None,None,0,106284.0
2,17,KL,53,P,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,INT,E10.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
3,17,KL,54,P,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,MAT,H54.2,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
4,17,A,53,P,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,SAR,M54.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,B,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,Z71.8,1.0,P-8-17-I,3,None,None,None,None,None,0,36451.0
11401878,233,A,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,P59.9,1.0,P-8-13-II,2,None,None,None,None,None,0,122732.0
11401879,118,B,0,L,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,NaN,P24.8,1.0,P-8-08-I,3,None,None,None,None,None,0,40990.0
11401880,101,SC,0,L,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P03,1.0,P-8-08-I,3,None,None,None,None,None,0,39924.0
11401881,12,SD,0,P,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P21.1,1.0,P-8-16-I,3,None,None,None,None,None,0,16249.0

In [16]:
rand_processed["Selisih"] = " "

for i in range(len(rand_processed)) :
     
    x = rand_processed.iloc[i]['tgldatang']
    y = rand_processed.iloc[i]['tglpulang']

    if x == y :
        rand_processed.at[i,'Selisih'] = 0

    else :

        TanggalX = x[0:10]
        TanggalY = y[0:10]

        Selisih = days_between(TanggalX, TanggalY)
        rand_processed.at[i, 'Selisih'] = Selisih

rand_processed = rand_processed.drop(columns=['tgldatang'])
rand_processed = rand_processed.drop(columns=['tglpulang'])

rand_processed.to_csv('selisih_completed.csv')

In [32]:
rand_processed['jenkel'] = df['jenkel'].copy()

In [81]:
no_na.isna().sum()

dati2            0
typefaskes       0
usia             0
jenkel           0
pisat            0
jenispel         0
politujuan       0
diagfktp         0
jenispulang      0
cbg              0
kelasrawat       0
kdsa             0
kdsp             0
kdsr             0
kdsi             0
kdsd             0
label            0
biaya_bagi100    0
Selisih          0
dtype: int64

In [80]:
# Isi semua na
# no_na = rand_processed.copy()
# no_na['biaya_bagi100'] = no_na['biaya_bagi100'].fillna(no_na['biaya_bagi100'].mean())
# no_na = no_na.fillna(0)

no_na['kdsa'].value_counts()
# no_na.isin(['ZZZ']).any()

None           11190211
ZZZ              198670
SF-4-10-II         4457
SF-4-10-III        3587
SF-4-10-I          1891
SF-4-10-X          1142
SF-4-10-IV          675
SF-4-13-II          355
SF-4-16-II          162
SF-4-16-III         147
SF-4-13-III         142
SF-4-13-I           125
SF-4-15-II           57
SF-4-16-I            52
SF-4-16-IV           45
SF-4-15-III          24
SF-4-13-IV           24
SF-4-15-I            20
SF-4-13-X            18
SF-4-11-II           12
SF-4-11-I            11
SF-4-15-IV           10
SF-4-16-X            10
SF-4-19-II            7
SF-4-11-III           6
SF-4-19-I             5
SA-4-14-X             3
SF-4-19-III           3
SA-4-14-I             3
SF-4-11-IV            1
SF-4-12-II            1
SF-4-19-IV            1
SA-4-14-II            1
ST-4-11-II            1
ST-1-10-III           1
SF-4-18-I             1
SF-4-15-X             1
Name: kdsa, dtype: int64

In [79]:
# Isi semua na
no_na['jenkel'] = no_na['jenkel'].fillna(no_na['jenkel'].mode()[0])
no_na['pisat'] = no_na['pisat'].fillna(no_na['pisat'].mode()[0])
no_na['diagfktp'] = no_na['diagfktp'].fillna(no_na['diagfktp'].mode()[0])
no_na['jenispulang'] = no_na['jenispulang'].fillna(no_na['jenispulang'].mode()[0])

no_na['politujuan'] = no_na['politujuan'].fillna('ZZZ')
no_na['kdsa'] = no_na['kdsa'].fillna('ZZZ')
no_na['kdsp'] = no_na['kdsp'].fillna('ZZZZ')
no_na['kdsr'] = no_na['kdsr'].fillna('ZZZZZ')
no_na['kdsi'] = no_na['kdsi'].fillna('ZZZZZZ')
no_na['kdsd'] = no_na['kdsd'].fillna('ZZZZZZZ')


# no_na['biaya_bagi100'] = no_na['biaya_bagi100'].fillna(no_na['biaya_bagi100'].mean())
# no_na['jenkel'].mode()[0]

In [82]:
kategori_processed = no_na.copy()
#rand_processed.isna().sum()

kategori_processed.to_csv('kategori_processed.csv')

In [1]:
# ==================== CHECKPOINT ====================
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

kategori_processed = pd.read_csv('kategori_processed.csv')

In [2]:
Pred = kategori_processed.drop(columns=['label'])

# Pembagian Batch
Batch1, Batch2, Batch3, Batch4, Batch5 = np.array_split(Pred, 5)

In [72]:
# Pembuatan data training

satufull = kategori_processed.loc[kategori_processed['label'] == 1] # Pengambilan yang labelnya 1
nolfull = kategori_processed.loc[kategori_processed['label'] == 0] # Pengambilan yang label 0

jumsat = int(len(satufull)/10)
jumnol = int(len(nolfull)/8)
satu = satufull.sample(n=(jumsat))
nol = nolfull.sample(n=(jumnol)) # Pengambilan label 0 sejumlah banyaknya label 1

In [66]:
len(satu)

15688

In [55]:
len(nol)

1124499

In [73]:
Train = nol.append(satu)
Train = Train.sample(frac = 1)

C:\Users\faris\AppData\Local\Temp\ipykernel_52528\2856880713.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Train = nol.append(satu)

In [57]:
len(Train)

1229091

In [74]:
X = Train.drop(columns=['label'])
y = Train.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# print(len(X_train_imb))
# print(len(y_train_imb))

In [ ]:
# Oversampling pake smote

# from imblearn.over_sampling import SMOTE
# sm = SMOTE(sampling_strategy = 0.2, random_state=42)
# X_train, y_train = sm.fit_resample(X_train_imb, y_train_imb)

In [75]:
print(X_train)
print(len(y_train))

          Unnamed: 0  dati2 typefaskes  usia jenkel  pisat  jenispel  \
4817956      4817956    217          B    35      P    1.0         1
10045520    10045520    187         SB    51      P    1.0         1
7036726      7036726    145         SC    66      P    3.0         2
6427339      6427339    171          A    25      L    4.0         2
10107651    10107651    190          B    68      L    1.0         1
...              ...    ...        ...   ...    ...    ...       ...
1007373      1007373    126          B    64      L    1.0         1
8015880      8015880    215          B    23      P    3.0         2
708887        708887    154         SC    44      L    4.0         1
153484        153484     54         KU    72      P    3.0         2
6323143      6323143    233         SC     5      L    4.0         2

         politujuan diagfktp  jenispulang        cbg  kelasrawat  kdsa  kdsp  \
4817956         ZZZ      O44          1.0  W-4-16-II           1  None  None
10045520        ZZZ      R11          1.0  E-4-10-II           1  None  None
7036726         INT    Z09.8          1.0   Q-5-44-0           3  None  None
6427339         008    D68.1          1.0   Q-5-44-0           3  None  None
10107651        ZZZ    K92.1          4.0  K-4-18-II           3  None  None
...             ...      ...          ...        ...         ...   ...   ...
1007373         ZZZ      R11          1.0   I-4-17-I           1  None  None
8015880         THT    J01.1          1.0   U-3-15-0           3  None  None
708887          ZZZ    E14.9          4.0   E-4-10-I           3  None  None
153484          SAR    I63.9          1.0   Q-5-44-0           3  None  None
6323143         ANA    F90.0          1.0   F-5-16-0           3  None  None

          kdsr  kdsi      kdsd  biaya_bagi100  Selisih
4817956   None  None      None        38564.0        2
10045520  None  None      None        68522.0        5
7036726   None  None      None         1850.0        0
6427339   None  None  DD-10-II       105588.0        0
10107651  None  None      None        23801.0        2
...        ...   ...       ...            ...      ...
1007373   None  None      None        24620.0        2
8015880   None  None      None         2536.0        0
708887    None  None      None        34305.0        0
153484    None  None      None         1849.0        0
6323143   None  None      None         2784.0        0

[994918 rows x 19 columns]
994918

In [76]:
from catboost import CatBoostClassifier, Pool

cb = CatBoostClassifier(n_estimators=200,
                       loss_function='Logloss',
                       learning_rate=0.4,
                       depth=3, task_type='GPU',
                       random_state=1,
                       verbose=False,scale_pos_weight=3)

pool_train = Pool(X_train, y_train,
                  cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])
                  
pool_test = Pool(X_test, cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])

cb.fit(pool_train)
y_pred = cb.predict(pool_test)

In [77]:
Hasilpred = cb.predict(Pred)

In [78]:
from sklearn.metrics import roc_auc_score

# Evaluation

y_true = kategori_processed.label
y_pred = Hasilpred  # List of your dataframes


def check(true,pred)  :
    tn, fp, fn, tp = confusion_matrix(true, pred).ravel()
    Accuracy = (tn+tp) / (tn+fp+tp+fn)
    Precision = tp/(tp+fp)
    Recall = tp/(tp+fn)
    Specifity = tn/(tn+fp)  

    print("Accuracy    :", Accuracy, "\nPrecision   :", Precision, "\nRecall      :", Recall, "\nSpecifity   :", Specifity)

check(y_true,y_pred)

print("ROC AUC     :", roc_auc_score(y_true, y_pred))

Accuracy    : 0.9910268322369938
Precision   : 0.8833693911382091
Recall      : 0.40079291728546934
Specifity   : 0.9992617158587827
ROC AUC     : 0.700027316572126

In [79]:
answer = pd.DataFrame()
answer['id']= df['id']
answer['label'] = y_pred

print(answer)

# Save ke csv
answer.to_csv('answer.csv')

                id  label
0           165666      0
1          1010828      0
2           166042      0
3           168937      0
4          1005899      0
...            ...    ...
11401877   9983563      0
11401878  11053870      0
11401879   7461049      0
11401880   1075162      0
11401881    102794      0

[11401882 rows x 2 columns]