In [8]:
# Pandas dibutuhkan untuk manipulasi dan transformasi data
import pandas as pd

import numpy as np
# Sklearn digunakan untuk segala hal yang berhubungan dengan machine learning modeling
# train_test_split : untuk membagi data train menjadi data untuk training dan validasi
from sklearn.model_selection import train_test_split

# DecisionTreeClassifier : contoh model yang digunakan disini yaitu Decision Tree

from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import LabelEncoder

In [9]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [38]:
# Data Preparation
df = pd.read_csv('sampling_healtkathon2022/sampling_healtkathon2022.csv')

In [11]:
rand_processed = df

In [12]:
# Drop semua yang gak dibutuhin
rand_processed = rand_processed.drop(columns=['id'])
rand_processed = rand_processed.drop(columns=['id_peserta'])

# Drop semua yang gak dibutuhin
rand_processed['biaya_bagi100'] = rand_processed['biaya']/100
rand_processed = rand_processed.drop(columns=['biaya'])

rand_processed

,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,politujuan,diagfktp,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label,biaya_bagi100
0,17,KL,48,P,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,THT,L02.8,1.0,Q-5-42-0,3,None,None,None,None,None,0,1843.0
1,17,A,63,L,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,NaN,R23.1,1.0,D-4-13-III,1,None,None,None,None,None,0,106284.0
2,17,KL,53,P,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,INT,E10.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
3,17,KL,54,P,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,MAT,H54.2,1.0,Q-5-44-0,3,None,None,None,None,None,0,1873.0
4,17,A,53,P,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,SAR,M54.5,1.0,Q-5-44-0,3,None,None,None,None,None,0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,301,B,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,Z71.8,1.0,P-8-17-I,3,None,None,None,None,None,0,36451.0
11401878,233,A,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,NaN,P59.9,1.0,P-8-13-II,2,None,None,None,None,None,0,122732.0
11401879,118,B,0,L,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,NaN,P24.8,1.0,P-8-08-I,3,None,None,None,None,None,0,40990.0
11401880,101,SC,0,L,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P03,1.0,P-8-08-I,3,None,None,None,None,None,0,39924.0
11401881,12,SD,0,P,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,NaN,P21.1,1.0,P-8-16-I,3,None,None,None,None,None,0,16249.0

In [16]:
rand_processed["Selisih"] = " "

for i in range(len(rand_processed)) :
     
    x = rand_processed.iloc[i]['tgldatang']
    y = rand_processed.iloc[i]['tglpulang']

    if x == y :
        rand_processed.at[i,'Selisih'] = 0

    else :

        TanggalX = x[0:10]
        TanggalY = y[0:10]

        Selisih = days_between(TanggalX, TanggalY)
        rand_processed.at[i, 'Selisih'] = Selisih

rand_processed = rand_processed.drop(columns=['tgldatang'])
rand_processed = rand_processed.drop(columns=['tglpulang'])

rand_processed.to_csv('selisih_completed.csv')

In [32]:
rand_processed['jenkel'] = df['jenkel'].copy()

In [81]:
no_na.isna().sum()

dati2            0
typefaskes       0
usia             0
jenkel           0
pisat            0
jenispel         0
politujuan       0
diagfktp         0
jenispulang      0
cbg              0
kelasrawat       0
kdsa             0
kdsp             0
kdsr             0
kdsi             0
kdsd             0
label            0
biaya_bagi100    0
Selisih          0
dtype: int64

In [80]:
no_na['kdsa'].value_counts()
# no_na.isin(['ZZZ']).any()

None           11190211
ZZZ              198670
SF-4-10-II         4457
SF-4-10-III        3587
SF-4-10-I          1891
SF-4-10-X          1142
SF-4-10-IV          675
SF-4-13-II          355
SF-4-16-II          162
SF-4-16-III         147
SF-4-13-III         142
SF-4-13-I           125
SF-4-15-II           57
SF-4-16-I            52
SF-4-16-IV           45
SF-4-15-III          24
SF-4-13-IV           24
SF-4-15-I            20
SF-4-13-X            18
SF-4-11-II           12
SF-4-11-I            11
SF-4-15-IV           10
SF-4-16-X            10
SF-4-19-II            7
SF-4-11-III           6
SF-4-19-I             5
SA-4-14-X             3
SF-4-19-III           3
SA-4-14-I             3
SF-4-11-IV            1
SF-4-12-II            1
SF-4-19-IV            1
SA-4-14-II            1
ST-4-11-II            1
ST-1-10-III           1
SF-4-18-I             1
SF-4-15-X             1
Name: kdsa, dtype: int64

In [79]:
# Isi semua na
no_na['jenkel'] = no_na['jenkel'].fillna(no_na['jenkel'].mode()[0])
no_na['pisat'] = no_na['pisat'].fillna(no_na['pisat'].mode()[0])
no_na['diagfktp'] = no_na['diagfktp'].fillna(no_na['diagfktp'].mode()[0])
no_na['jenispulang'] = no_na['jenispulang'].fillna(no_na['jenispulang'].mode()[0])

no_na['politujuan'] = no_na['politujuan'].fillna('ZZZ')
no_na['kdsa'] = no_na['kdsa'].fillna('ZZZ')
no_na['kdsp'] = no_na['kdsp'].fillna('ZZZZ')
no_na['kdsr'] = no_na['kdsr'].fillna('ZZZZZ')
no_na['kdsi'] = no_na['kdsi'].fillna('ZZZZZZ')
no_na['kdsd'] = no_na['kdsd'].fillna('ZZZZZZZ')


# no_na['biaya_bagi100'] = no_na['biaya_bagi100'].fillna(no_na['biaya_bagi100'].mean())
# no_na['jenkel'].mode()[0]

In [82]:
kategori_processed = no_na.copy()
#rand_processed.isna().sum()

kategori_processed.to_csv('kategori_processed.csv')

In [1]:
# ==================== CHECKPOINT ====================
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

kategori_processed = pd.read_csv('kategori_processed.csv')

In [2]:
Pred = kategori_processed.drop(columns=['label'])

# Pembagian Batch
Batch1, Batch2, Batch3, Batch4, Batch5 = np.array_split(Pred, 5)

In [3]:
# Pembuatan data training

satufull = kategori_processed.loc[kategori_processed['label'] == 1] # Pengambilan yang labelnya 1
nolfull = kategori_processed.loc[kategori_processed['label'] == 0] # Pengambilan yang label 0

satoversamp =  satufull.sample(frac =.7)

satufull = satufull.append(satoversamp)

jumsat = int(len(satufull))
jumnol = int(len(nolfull)/5)
satu = satufull.sample(n=(jumsat))
nol = nolfull.sample(n=(jumnol)) # Pengambilan label 0 sejumlah banyaknya label 1

C:\Users\faris\AppData\Local\Temp\ipykernel_12292\3145820988.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  satufull = satufull.append(satoversamp)

In [4]:
len(satu)

266711

In [5]:
len(nol)

2248998

In [6]:
Train = nol.append(satu)
Train = Train.sample(frac = 1)

C:\Users\faris\AppData\Local\Temp\ipykernel_12292\2856880713.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Train = nol.append(satu)

In [7]:
len(Train)

2515709

In [8]:
X = Train.drop(columns=['label'])
y = Train.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
print(len(X_train_pre))
print(len(y_train_pre))

1684120
1684120

In [100]:
# Oversampling

from imblearn.over_sampling import RandomOverSampler 
oversample = RandomOverSampler(sampling_strategy=0.1255671527)

X_train, y_train = oversample.fit_resample(X_train_pre, y_train_pre)

In [9]:
print(len(X_train))
print(len(y_train))

1760996
1760996

In [10]:
from catboost import CatBoostClassifier, Pool

cb = CatBoostClassifier(n_estimators=700,
                        loss_function='CrossEntropy',
                        learning_rate=0.4375,
                        depth=4, task_type='GPU',
                        random_state=1,
                        verbose=False)


pool_train = Pool(X_train, y_train,
                  cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])
                  
pool_test = Pool(X_test, cat_features = ['typefaskes', 'jenkel', 'politujuan', 'diagfktp', 'cbg', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'])

cb.fit(pool_train)
y_pred = cb.predict(pool_test)

In [11]:
Hasilpred = cb.predict(Pred)

In [ ]:
# hehe = pd.read_csv('answerKojo.csv')
# Hasilpred = hehe['label'].values.tolist()

# print(Hasilpred)

In [13]:
from sklearn.metrics import roc_auc_score

# Evaluation

y_true = kategori_processed.label
y_pred = Hasilpred  # List of your dataframes


def check(true,pred)  :
    tn, fp, fn, tp = confusion_matrix(true, pred).ravel()
    Accuracy = (tn+tp) / (tn+fp+tp+fn)
    Precision = tp/(tp+fp)
    Recall = tp/(tp+fn)
    Specifity = tn/(tn+fp)

    print("Accuracy    :", Accuracy, "\nPrecision   :", Precision, "\nRecall      :", Recall, "\nSpecifity   :", Specifity)

check(y_true,y_pred)

print("ROC AUC     :", roc_auc_score(y_true, y_pred))

Accuracy    : 0.9886302980507955
Precision   : 0.5786953885247321
Recall      : 0.6386935986589245
Specifity   : 0.9935125793319747
ROC AUC     : 0.8161030889954496

In [ ]:
answer = pd.DataFrame()
answer['id']= df['id']
answer['label'] = y_pred

print(answer)

# Save ke csv
answer.to_csv('answer.csv')

                id  label
0           165666      0
1          1010828      0
2           166042      0
3           168937      0
4          1005899      0
...            ...    ...
11401877   9983563      0
11401878  11053870      0
11401879   7461049      0
11401880   1075162      0
11401881    102794      0

[11401882 rows x 2 columns]